
<h2>Listing speeches</h2>
<table class="table">
  <thead>
    <tr>
      <th>Speaker</th>
      <th>Class year</th>
      <th>Spoken at</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="show-list" data-id="lobby">
<%= for speech <- @speeches do %>
    <tr>
      <td><%= speech.speaker %></td>
      <td><%= speech.class_year %></td>
      <td><%= speech.inserted_at %></td>
      <td><%= speech.description %></td>

      <td class="text-right">
        <%= link "Show", to: speech_path(@conn, :show, speech), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: speech_path(@conn, :edit, speech), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: speech_path(@conn, :delete, speech), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New speech", to: speech_path(@conn, :new) %>
