<h2>New speech</h2>

<h2>Create a new speech</h2>
<%= render "form.html", changeset: @changeset,
                        action: speech_path(@conn, :create) %>

<%= link "Back", to: speech_path(@conn, :index) %>
