<h2>Show speech</h2>

<ul>

  <li>
    <strong>Speaker:</strong>
    <%= @speech.speaker %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @speech.description %>
  </li>

  <li>
    <strong>Class year:</strong>
    <%= @speech.class_year %>
  </li>

</ul>

<%= link "Edit", to: speech_path(@conn, :edit, @speech) %>
<%= link "Back", to: speech_path(@conn, :index) %>
